<br />

<table class="table col-md-12">
  <thead class="thead-dark">
    <tr>
      <th scope="col">訂單#{{order.id}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="row">
        <div class="col-md-6">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">產品名稱</th>
                <th scope="col">價格</th>
                <th scope="col">數量</th>
                <th scope="col">合計</th>
              </tr>
            </thead>
            <tbody>
              {{#each order.items}}
              <tr>
                {{!-- <th scope="row"></th> --}}
                <td>{{this.name}}</td>
                <td>{{this.price}}</td>
                <td>{{this.OrderItem.quantity}}</td>
                <td>$:{{this.OrderItem.subtotal}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <hr>
          <h2 style="display: flex;justify-content:end;padding-right:30px">訂單總價: {{order.amount}}</h2>
          <br>
          <table class="table">
            <thead class="thead-dark col-md-12">
              <tr>
                <th scope="col">出貨資訊</th>
              </tr>
              <td style="display: flex;justify-content:space-around">
                <h3>收件人:{{order.name}}</h3> <br>
                <h3>連絡電話: {{order.phone}}</h3> <br>
                <h3>收件地址: {{order.address}}</h3>
              </td>
            </thead>
          </table>
        </div>
        <div class="col-md-6">
          <form action="/admin/orders/{{order.id}}?_method=PUT" method="post">
            <ul>付款方式:{{#if order.payment_method}}信用卡{{else}} 預設ATM{{/if}}</ul>
            <ul class="row">
              <div class="col-auto my-1" style="display: flex;">
                <label class="mr-sm-2" for="payment_status">付款狀態:</label>
                <select class="custom-select mr-sm-2" name="payment_status" id="payment_status">
                  <option selected>{{#if order.payment_status}}{{order.payment_status}} {{else}}尚未付款{{/if}}</option>
                  <option value="款項待確認">款項待確認</option>
                  <option value="已收到款項">已收到款項</option>
                </select>
              </div>
            </ul>
            <ul class="row">
              <div class="col-auto my-1" style="display: flex;">
                <label class="mr-sm-2" for="shipping_statust">出貨狀態:</label>
                <select class="custom-select mr-sm-2" name="shipping_status" id="shipping_status">
                  <option selected>{{#if order.shipping_status}}{{order.shipping_status}}{{else}}尚未出貨{{/if}}</option>
                  <option value="出貨準備中">出貨準備中</option>
                  <option value="出貨完成">出貨完成</option>
                </select>
              </div>
            </ul>
            <ul><button type="submit">更新</button></ul>
          </form>
        </div>
      </th>
    </tr>
  </tbody>
</table>