<div class="conatiner row">
  <div class="col-md-2 mt-2 mb-2">
    {{>adminLeft}}
  </div>
  <div class="col-md-10 mb-2">
  <hr>
  {{>messages}}
  <table class="table table-bordered">
    <thead class="thead-dark" align="center">
      <tr>
        <th scope="col">訂單編號</th>
        <th scope="col">訂單價格</th>
        <th scope="col">付款方式</th>
        <th scope="col">付款狀態</th>
        <th scope="col">運送狀態</th>
        <th scope='col'>詳細資料</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody align="center">
      {{#each orders}}
      <tr>
        <td>{{this.id}}</td>
        <td>${{this.amount}}</td>
        <td>{{#ifCond this.payment_method 'ATM'}}ATM轉帳{{else}}信用卡{{/ifCond}}</td>
        <td>{{this.payment_status }} </td>
        <td>{{ this.shipping_status }} </td>
        <td>
          <button type="button" class="btn btn-link">
            <a href="/admin/orders/{{this.id}}">
              更新訂單資料
            </a>
          </button>
        </td>
        <td>
          <form action="/admin/orders/{{this.id}}?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-link">
              <i class="fas fa-trash"></i>
            </button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <hr>
  <nav aria-label="Page navigation example" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="/admin/orders?page={{prev}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {{#each totalPage}}
      {{#ifCond this ../page}}
      <li class="page-item active"><a class="page-link" href="#">{{this}}</a></li>
      {{else}}
      <li class="page-item"><a class="page-link" href="/admin/orders?page={{this}}">{{this}}</a></li>
      {{/ifCond}}
      {{/each}}
      <li class="page-item"><a class="page-link" href="/admin/orders?page={{next}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  </div>      
</div>