<div class="column">
  <div class="col-md-9">
    {{#if promotionCode}}
    <form action="/admin/promotionCodes/{{promotionCode.id}}?_method=PUT" method="post">
      {{else}}
      <form action="/admin/promotionCodes" method="POST">
        {{/if}}
        <div class="form-group">
          <label for="name">名稱</label>
          <input type="text" class="form-control" name="code" id="code" placeholder="代碼" value="{{promotionCode.code}}"
            required>
        </div>
        <div class="form-group">
          <label for="status">狀態</label>
          <select  name="status" class="col-md-12">
            {{#if promotionCode.status}}
            <option value="1" selected>開啟</option>
            <option value="0">關閉</option>
            {{else}}
            <option value="1" selected>開啟</option>
            <option value="0" selected>關閉</option>
            {{/if}}
          </select>
          </input>
        </div>
        <div class="form-group">
          <label for="type">狀態</label>
          <select  name="type" class="col-md-12">
            {{#ifCond promotionCode.type 'fix'}}
            <option value="fix" selected>固定金額</option>
            <option value="percentage">比例</option>
            {{else}}
            <option value="fix" selected>固定金額</option>
            <option value="percentage" selected>比例</option>
            {{/ifCond}}
          </select>
          </input>
        </div>
        <div class="form-group">
          <label for="discount">金額 or 百分比</label>
          <input type="text" class="form-control" name="discount" id="discount" placeholder="折抵金額或百分比" value="{{promotionCode.discount}}"
            required>
        </div>
        <div class="form-group">
          <label for="usage">使用限制</label>
          <select  name="usage" class="col-md-12">
            <option value="unlimited">無限制</option>
            <option value="usageLimited">次數限制</option>
            <option value="date">時間限制</option>
          </select>
          </input>
        </div> 
        {{#if promotionCode}}
        <div class="form-group" id="usageLimited">
          <label for="usageLimited">次數上限</label>
          <input type="number" class="form-control usageLimited" name="usageLimited" placeholder="{{promotionCode.usageLimited}}" value="{{promotionCode.usageLimited}}">
          </input>
        </div> 
        <div class="form-group" id="validDate">
          <label for="validDate">使用期限</label>
          <input type="date" class="form-control validDate" name="validDate" placeholder="{{promotionCode.validDate}}" value="{{promotionCode.validDate}}">
          </input>
        </div> 
        {{else}}
        <div class="form-group" id="usageLimited">
          <label for="usageLimited">次數上限</label>
          <input type="text" class="form-control usageLimited" name="usageLimited" placeholder="使用次數限制" value="" >
          </input>
        </div> 
        <div class="form-group" id="validDate">
          <label for="validDate">使用期限</label>
          <input type="date" class="form-control validDate" name="validDate" placeholder="使用期限" value="">
          </input>
        </div> 
        {{/if}} 
        <div>
          <button type="submit" class="btn btn-primary" style="display: flex;justify-content:end">Submit</button>
        </div>
      </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function(){

    $('#validDate').hide()
    $('#usageLimited').hide()

    $('select[name="usage"]').change(function(){
      var selectOption = $(this).val()
      if(selectOption ==='date'){
        $('#validDate').show()
        $('#usageLimited').hide()
      }else{
        $('#validDate').hide()
        $('#usageLimited').show()
      }
    })

    $('form').submit(function(event){
      event.preventDefault()
      if(!$(".validDate").val()){
        var currentDate = new Date()
        var formattedDate = currentDate.toISOString().split('T')[0];
        $(".validDate").val(formattedDate)
      }
      if(!$(".usageLimited").val()){
        $(".usageLimited").val(0)
      }
      this.submit()
    })

  })
</script>