<div>
  <form action="/search" method="get" class=" mb-3 d-flex justify-content-center">
    <label for="search">搜尋:
      <input type="search" name="search" id="search" placeholder=" 搜尋產品" class="rounded-pill">
      <button type="submit" class="btn-primary">送出</button>
    </label>
  </form>
</div>
<br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">圖片</th>
      <th scope="col">產品名稱</th>
      <th scope="col">價格</th>
      <th scope="col">編輯</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <td><a href="/products/{{this.id}}"><img src="{{this.image}}" width="150" height="150"></a></td>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>
        {{#if this.isFavorited}}
        <form action="/favorite/{{this.id}}?_method=DELETE" method="POST"><button type="submit" class="btn btn-link"><i
              class="fas fa-heart" style="color: red;"></i></button></form>
        {{else}}
        <form action="/favorite/{{this.id}}" method="POST"><button type="submit" class="btn btn-link"><i
              class="fas fa-heart" style="color:thistle"></i></button></form>
        {{/if}}
        <form action="/cart" method="POST">
          <input type="hidden" name="productId" value="{{this.id}}">
          <button type="submit" class="btn  btn-outline-secondary">加入購物車</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>